footer {
	background-color: #dcc9c1;
}

a {
	text-decoration: none;
	color: rgb(13, 6, 6);
	display: inline-block;
	padding: 0 20px;
	white-space: nowrap;
	font-family: "仿宋";
	font-weight: bold;
}

a:hover {
	color: #FFF;
	background-color: #ccc;
}

.footer {
	background-color: #dcc9c1;
}

.mod_help {
	height: 185px;
	border-bottom: 1px solid #ccc;
	padding-top: 20px;
	padding-left: 50px;
}

.mod_help dl {
	float: left;
	width: 200px;
}

.mod_help dl dt {
	font-size: 18px;
	margin-bottom: 10px;
}

.mod_help a:hover {
	color: #FFF;
	background-color: #dcc9c1;
}

/*为最后一个dl显示二维码设置样式*/

.mod_help dl:last-child {
	width: 90px;
	text-align: center;
}

.mod_copyright {
	text-align: center;
	padding-top: 20px;
}

.links {
	margin-bottom: 15px;
}

.links a {
	margin: 0 3px;
}

.links a:hover {
	color: #FFF;
	background-color: #dcc9c1;
}

.copyright {
	line-height: 20px;
}
