@charset "utf-8";

@import '/static/plugins/fonts/fonts.css';

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.footer {
    height: 270px;
    background-color: #333;
}

.footer .wapper {
    width: 100%;
}

.footer .top {
    padding-top: 40px;
    padding-left: 100px;
    margin: auto;
    width: 75%;
    height: 150px;
    border-bottom: 3px solid #434343;
}

.footer .top li {
    float: left;
    margin-right: 300px;
    width: 200px;
    height: 60px;
    font-size: 40px;
}

.footer .top li:last-child {
    margin-right: 0;
}

.footer .bottom {
    /* height: 150px; */
    padding-top: 40px;
    text-align: center;
}

.footer .bottom .footerlink {
    animation: .2s linear gdb;
    color: #fff;
}

.footer .bottom .footerlink:hover {
    animation: .2s linear gd;
    color: #434343;
}

dialog {
    /* border: 4px solid #FF0000; */
    box-shadow: 0 0 2px 2px;
    border-radius: 4px;
    /* width: 200px;
    height: 200px; */
    margin: auto;
    text-align: center;
}

@keyframes gd {
    from {
        color: #fff;
    }

    to {
        color: #434343;
    }
}

@keyframes gdb {
    from {
        color: #434343;
    }

    to {
        color: #fff;
    }
}